<img class='country-flag' src={{flags.png}}  alt="County flag image"/>
<p class='country-name'>{{name}}</p>
<p class='coutry-capital'>{{capital}}</p>
<p class='country-population'>{{population}}</p>
<p class='country-langugage'>{{languages}}</p>