<img class='country-flag' src={{flags.png}} alt='County flag image' />
<p class='country-name'>{{name}}</p>
<p class='coutry-capital'>Capital: <span>{{capital}}</span></p>
<p class='country-population'>Population: <span>{{population}}</span></p>
<p class='country-langugage'>Languages: <span>{{#each languages}} {{name}} {{/each}}</span></p>